html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.hidden {
  overflow: hidden;
}

header {
    position: fixed;
    width: 100%;
    background: rgb(68, 187, 255);
    border-width: 2.5px;
    border-style: inset;
    border-color: blue;
    height: 80px;
}

.headerContent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: auto 5vw auto 5vw;
}

.logo {
    margin: auto 0;
    background: url("img/logo.svg");
    background-size: cover;
    background-position: center center;
    width: 60px;
    height: 60px;
}

.title {
    font-size: 32px;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 0px;
    margin: auto 0;
}

.menu {
    display: flex;
    justify-content: space-between;
}
.but {
  margin: 0;
  padding: 0 2vh 0;
  width: auto;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.but:hover {
  background: rgb(43, 156, 221);
}

.but:active {
  background: rgb(126, 183, 216);
}

.modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}

.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}

.modal__content {
  width: 100%;
  max-width: 400px;
  padding: 50px;
  background: rgb(68, 187, 255);
  border-radius: 5px;
  position: relative;
  box-shadow: 0 5px 15px black;
}

.modal__container {
  position: relative;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  padding: 0 0 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.form_input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
}

.form_input._error {
  background-color: tomato;
}

.form_input:required:valid {
  border: 3px solid rgb(0, 253, 114);
}

.form_input:required:invalid {
  border: 3px solid rgb(253, 101, 101);
}

input[type=checkbox] {
  transform: scale(1.5);
}

.modal__close-button {
  background: #ff0000;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  cursor: pointer;
  transition: .3s;
  outline: none;
  cursor: pointer;
}

.modal__close-button:hover {
  transition: .3s;
  transform: rotate(180deg);
}

.modal__submit-button {
  background: whitesmoke;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 50%;
  font-size: 24px;
  cursor: pointer;
}

.modal__submit-button:hover {
  opacity: 0.8;
}

.modal__title {
  font-size: 1.8rem;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  margin: 0 0 15px;
}

main {
  margin: 85px 0 0 0;
  flex-grow: 1;
  background: rgb(200, 235, 255);
}

.main__container {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  /*min-height: calc(100vh - (85px + 75px));*/
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-gap: 10px;
  /*grid-template-columns: repeat(auto-fit, 350px);*/
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(2, 500px);
  /*rows сносим нахрен, и columns, а что закоменчено, декомментим*/
}

.main__container div {
  /*height: 500px;*/
  background-color:rgb(68, 187, 255);
  margin: 2px;
}

footer {
  height: 70px;
  flex-shrink: 0;
  background: rgb(68, 187, 255);
  border-width: 2.5px;
  border-style: inset;
  border-color: blue;
}

/* LiveReload*/